@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Nanum+Gothic:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #DEE1E3;
    width: 100%;
    position: relative;
    top: 0;
    align-items: center;
}
header ul {
margin: 0 2rem 0;
    display: flex;
    align-items: center;
}
header ul li {
    margin: 0 0.75rem 0;
    list-style: none;
font-size: 2rem;
}
header ul li .fas {
    font-size: 2.5rem;
}
header .sign-login {
    display: flex;
    align-items: center;
width: 15%;
font-size: 2rem;
}
header .sign-login .sign {
    background-color: green;
    padding: .9rem 1.3rem;
    margin: 0 1rem 0;
    border-radius: 1.4rem;
    text-decoration: none;
    color: white;
}
header .sign-login .log {
    color: black;
    text-decoration: none;
}

@media (max-width:1024px){
    header .sign-login {
       display: none;
    }
}

/* Sloder-1 start */
.swiper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.swiper h3 {
    margin: 2rem 0 0;
    font-size: 2.5rem;
    font-weight: 400;
}

  .swiper-slide {
      height: 10vh;
    text-align: center;
    font-size: 13px;
    background: #fff;
/* msssargin: 3rem 0; */
flex-direction: column;
width: 10%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
      margin-bottom: 1rem;
      border-radius: 1rem;
  }
  .swiper-slide .icon {
      display: flex;
      
  }
.swiper-slide .icon .fas {
    margin: 0 0.5rem 0;
color: gray;    
}
.swiper-button-next , .swiper-button-prev {
    background-color: #DEE1E3;
    color: black;
    padding: 6rem 0;
}
